{% extends "./base.html" %}
{% load static %}
{% block title %}Club Arona{% endblock %}
{% block content %}
{% load i18n %}
<html lang="tr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="downswiper-cont" id="gal">

    <div style="--swiper-navigation-color: #70707000;--swiper-pagination-color: #f7f7f7" class="swiper mySwiper5">
      <div class="swiper-wrapper gallery" >
        {% for vlh in villah %}

        <div class="swiper-slide"><img class="downimg"  src={{vlh.image.url}}></div>
        {% endfor %}

      </div>
      <div class=" swiper-button-next5"><div class="swiper-button-next"><img class="next" src="/static/assets/img/next.png" ></div></div>
      <div class="swiper-button-prev5"><div class="swiper-button-prev"><img class="next" src="/static/assets/img/prev.png" ></div></div>
      <div class="swiper-pagination swiper-pagination5"></div>
    </div>

    <section class="villas"> 


    <h3 class="villash">LALILA VILLAS   </h3>
    <p class="hakim-txt">Kusursuz bir keyif için konfor ve huzurlu bir dinginlik sunuyor. Geniş yüzme havuzu,  kendine ait havuzu ve villaya özel bir güneşlenme  alanı vardır.
    </p>
    <div class="list-cont">
      <ul class="list-items">
        <li >{%translate "6 Adet Botanik ve Göl Manzaralı Villa" %}</li>
        <li>{%translate "Genel Alan 260 m²" %}</li>
        <li>{%translate "Villa Alan 180 m²" %}</li>
        <li>{%translate "Bahçe Alan 200 m²" %}</li>
        <li>{%translate "Özel Yüzme Havuzu 24 m²" %}</li>
        <li>{%translate "3 Kat" %}</li>
        <li>{%translate "2+1 (2 Yatak Odası + 1 Salon)" %}</li>
        <li>{%translate "Butler" %}</li>
        <li>{%translate "Angel(Tatil Asistanı)" %}</li>
        <li>{%translate "Turn Down" %}</li>
        <li>{%translate "Concierge Hizmeti" %}</li>
        <li>{%translate "Özel Kaymaz Fayans Zemin" %}</li>
        <li>{%translate "Yastık Menüsü" %}</li>
        <li>{%translate "Ses Komutlu Smart Villa" %}</li>
        <li>{%translate "Hızlı İnternet" %}</li>
        <li>{%translate "Merkezi Sistem Klima" %}</li>
        <li>{%translate "Dijital Yayınlar" %}</li>
        <li>{%translate "sabit telefon" %}</li>
      </ul>
    </div>
    <div class="villa-det-cont">
      <h4 class="villah4">{%translate "GİRİŞ KAT"%}</h4>
      <p class="villa-detp">{%translate "Salon (Oturma grubu, yemek alanı, Amerikan bar, şömine, 70 inç LED TV, Apple TV, PS5, maxi bar, Nesspresso kapsül kahve makinesi, buz makinesi,sehpa, WC)"%}</p>
      <h4 class="villah4">{%translate "BİRİNCİ KAT"%}</h4>
      <p class="villa-detp">{%translate "Yatak odası 34 m² (French yatak, 42 inç LED TV, dijital kasa, minibar, çay/kahve setup, okuma lambası, ebeveyn banyo, küvet, saç kurutma makinesi, bornoz, terlik, premium buklet, çocuk yaş gurubuna göre çocuk bornozu, çocuk terliği, çocuk buklet seti)"%}</p>
      <p class="villa-detp">{%translate "Yatak odası 20 m² (French veya twin yatak, 42 inç LED TV, dijital kasa, minibar, çay/kahve setup, okuma lambası, ebeveyn banyo, küvet, saç kurutma makinesi, bornoz, terlik, premium buklet, çocuk yaş gurubuna göre çocuk bornozu, çocuk terliği, çocuk buklet seti)"%}</p>
      <h4 class="villah4">{%translate "İKİNCİ KAT"%}</h4>
      <p class="villa-detp">{%translate "Roof garden (oturma grubu, sehpa, jakuzi, şezlong, şemsiye)"%}</p>
    </div>
    <button class="button-33" role="button">{%translate "REZERVASYON YAP" %}</button>   
  </section>
<!--mobile-->
<section class="odalarh" >
  <h4 class="odalarh4">{%translate "DİĞER ODALARI İNCELE" %}</h4>
  
  <div  style="--swiper-navigation-color: #70707000; --swiper-pagination-color: #076984" class="swiper swiper1 mySwiper1">
    
  <div class="card-container swiper-wrapper">
    {% for vla in villas %}
    <div class="villa swiper-slide">
      
      <a href={{vla.url}}><img class="villa-img" src="{{vla.get_image_url}}"></a>
      <h3 class="villah">{{vla.name}}</h3>
      <div class="villa-info">
        <p class="villap">{{vla.metr}} ㎡</p>
        <div class="villa-divider"></div>
        <p class="villap">{{vla.bedrooms}} 
        </p>
        <div class="villa-divider"></div>
        <p class="villap">{{vla.info}}</p>
      </div>
      <button onclick="window.location.href='/{{ LANGUAGE_CODE }}{{vla.url}}'" class="button-34" >{%translate "DETAYLI İNCELE" %}</button> 
    

  </div>  
    {% endfor %}
</div>
</div>
</section>
<!--web-->
<section class="villa-slide-cont">
  <div  style="--swiper-navigation-color: #70707000; --swiper-pagination-color: #FFFFFF" class=" swiper mySwiper6">
  <div class="villa-slide-left swiper-wrapper">

  {% for inf in villainfo %}
  <div class="villaslide swiper-slide">    
    <h3 class="villa-slideh">{{inf.name}}</h3>
    <p class="villa-slidep">{{inf.page_info}}</p>
    <button onclick="window.location.href='/{{ LANGUAGE_CODE }}{{inf.url}}'" class="button-34" >{%translate "DETAYLI İNCELE" %}</button>   
  </div> 
    {% endfor %}
    </div>
      
    <div class=" swiper-button-next6"><div class="swiper-button-next"><img class="next" src="/static/assets/img/next.png" ></div></div>
    <div class=" swiper-button-prev6"><div class="swiper-button-prev"><img class="next" src="/static/assets/img/prev.png" ></div></div>
    <div class="swiper-pagination swiper-pagination6"></div>
  </div>
  <div  style="--swiper-navigation-color: #70707000; --swiper-pagination-color: #FFFFFF" class=" swiper mySwiper6">

    <div class="villa-slide-right swiper-wrapper">
      {% for inf in villainfo %}
      <div class=" swiper-slide"><a href=/{{ LANGUAGE_CODE }}{{inf.url}}> <img class="villa-slide-img" src={{inf.inpageimg.url}}></a></div>
      {% endfor %}
    </div>
  </div>


  </section>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static 'js/scripts.js' %} "></script>

{% endblock %}