
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Cinzel&family=Montserrat:wght@100;200;300&family=Nunito+Sans:wght@200&family=Poppins:wght@100&family=Roboto:wght@100;300;400&display=swap');
.nav-item{
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9pc;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.nav-item-r{
    margin-top: 18px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 0.9pc;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }


    .nav-item-d{
float: right;}

.nav-logo{
    margin-left: 100px;
    margin-right: 100px;
}
.nav-btn{
    padding: 6px 16px;
    background-color: white;
    color: rgb(86, 86, 86);
    border: 1px solid #000000;
    font-size: 0.9pc;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
 div.masthead{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background:linear-gradient(180deg, rgba(0,0,0,0.34226190476190477) 0%, rgba(255,255,255,0) 32%) ,linear-gradient(0deg, rgba(0,0,0,0.34226190476190477) 0%, rgba(255,255,255,0) 32%),  url("../assets/img/slider1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 769px;
    width: 100%;



 }
 .footer-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .footer-container{
    display: flex;
    flex-direction: row;
 }
 .footer-item-left {
    padding: 10px;
    flex: 60%;
    display: flex;
    flex-direction: row;
  }
  .footer-nav{
    flex: 30%;

  }
  a.footer-nav{
    margin: 10px;
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-size: 1pc;
    font-weight: 600;
    color: #4e4242;
  }
  .footer-cont{
    flex: 70%;
    
  }
  .icon{
    margin-right: 10px;
  }
  .watch{
    margin-top: 40px;
    margin-left: 15px;
    
  }
  li.footer-cont{
    margin: 10px;
    font-family: 'Avenir', sans-serif;
    font-size: 1pc;

    color: #7f7e7e;

  }

  
  .footer-item-right {
    padding: 10px;
    flex: 40%;
  }
  #map {
    height: 100%;
  }
  .gmap{
    border: 5px solid #ffffff;
    border-radius: 40px;
    height: 280px;
    width: 80%;
    float: right;
    -moz-border-radius: 40px;margin:0 auto;overflow:hidden;
  }
  hr.divider {
    height: 0.1rem;
    max-width: 9.25rem;
    margin: auto;
    color: #dcdcdc;
    background-color:#dbdbdb;
    opacity: 1;
  }

pre.prefoot{
  color: #909090;
  text-align: center;
  font-family: 'montserrat';
  text-decoration: solid  ;
  font-size: 0.7pc;
  font-weight: bold;
  margin-bottom: 1px;


}
ul.list-group{
  list-style: none;}
.pwrd{
  font-family: 'Avenir', sans-serif;
  text-align: center;
  font-size: 1pc;
  margin-top: 20px;
  color: #898989;


}
p.copyr{
  color: #909090;
  text-align: center;
  font-family: 'poppins', sans-serif;
  text-decoration: none  ;
  font-size: 0.6pc;
  font-weight: bold;


}

.icon-down{
  margin-bottom: 50px;
 
}
.reserve{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #076984;
}
.reserveui{

  height: 60px;
  width: 65%;
  display: flex;
  flex-direction: row;


}
.reserve-btn{
  font-family: "poppins"sans-serif;
  background-color: #ffffff;
  border: none;
  color: rgb(56, 56, 56);
  padding: 20px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.reserve-divider{
  flex: 22%;
  border-right: 1px solid #2587A2;
}
.reserve-divideri{
  flex: 22%;

}
.reservep{
  color: #ffffff;
  font-family: "Nunito Sans"sans-serif;
  margin-left: 50%;
  text-align: center;
}
input[type="date"]{
  background-color: #076984; 
  font-family: "Nunito Sans",monospace;
  color: #ffffff;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 10px;
}
input[type="number"]{
  background-color: #076984; 
  font-family: "Nunito Sans",monospace;
  color: #ffffff;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 50px;
}


.hakim{
  background:  url("../assets/img/mask1.jpg");
  height:  400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h4.hakimiz{
  font-family: "poppins";
  text-align: center;
  padding-top: 80px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight:600;
  color: #707070;
}
p.hakim-txt{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  font-family: "avenir";
  font-size: 12px;
}
.rect{
  height: 90px;
  width: 650px;
  border: 1px solid #707070;
  position: relative;
  top: 15px;
  left: 420px;
  z-index: 10;

}
.video{
  background:  url("../assets/img/video.jpg");
  background-size: cover;
  position: relative;
  top: 70px;
  left: 31.5%;
  z-index: 20;
  width: 550px;
  height: 125px;
}

.odalar{
  background:  url("../assets/img/mask2.jpg");
  height:  900px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h4.odalarh{
  font-family: "poppins";
  text-align: center;
  padding-top: 140px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight:600;
  color: #707070;
}

.food{
  height: 420px;
  background-color: #566c77;
}
.foodh{
  text-align: center;
  padding-top: 55px;
  color: white;
  font-family: 'Cinzel', serif;
}
.foodc{
  text-align: center;
  color: white;
  font-family: 'Cinzel', serif;
}
.foodp{
  color: white;
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
  font-size: 14px;
}
.foodpic{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

}
.food-container{
  display: flex;
  height: 500px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.konsept{
  height: 687px;
  background:  url("../assets/img/mask3.jpg");
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.konsepth{
  font-family: "poppins";
  text-align: center;
  padding-top: 170px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight:600;
  color: #707070;

}
.konsepth2{
  margin-top: 50px;
  padding-top: 55px;
  color: rgb(0, 0, 0);
  font-family: 'Cinzel', serif;
}
.kons-container{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 400px;
  display: flex ;
  flex-direction: row;
}
.kons-left{
flex: 40%;
}
.kons-right{
flex: 60%;


}
.bg-light{
  background-color: #f4f4f4;
}
.card-container{

  display: flex ;
  flex-direction: row;
}

.villa{
  flex: 32%;

  
  
}
.villa-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 28px;

}
.villah{
  text-align: center;
  color: #076984;
  margin-top: 20px;
  font-family: 'Cinzel', serif;
}
.villa-info{
  display: flex;
  flex-direction: row;
  width: 370px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.button-34 {
  background: #076984;
  border-radius: 999px;
  box-shadow: #076984 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "poppins"sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 28px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 15px;
}
.villap{
  font-family: "poppins"sans-serif;
  font-size: 12px;
  margin-left: 25px;
  padding-top: 10px;
  margin-right: 16px;

}
.villa-divider{

  margin-top: 10px;
  height: 50%;
  border-left: 1px solid #D1C9C9;
}
.video2{
  position: relative;
  top: -20px;
  left: 47%;

}
.caveat{
  font-family: "Caveat";
  font-size: 28px;

}
.konseptp{
  font-family: "roboto"sans-serif;
  font-size: 13px;
}
.konsepthr {
  border-top: 2px solid #C9A26F;
  width: 80px;
  border-radius: 5px;}

.konspic{
  margin-top: 120px;
  margin-left: 20px;
}

.konspicd{
  display: flex;

  margin-left: 80px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.konspicont:hover .konspic {
  opacity: 0.5;
}

.konspicont:hover .middle {
  opacity: 1;
}
.konspictxt{

  color: rgb(7, 7, 7);
  font-size: 16px;
  padding: 16px 32px;
}
.navdown{
  height: 90px;
  background-color: #076984;
}
.downul{
  text-align: center;
  padding-top: 30px;

}
.downi{
  display: inline;
  margin-left: 60px;
  
}
.down-link{
  color: #ffffff;
  font-family: "poppins";
  font-weight: bold;
  font-size: 14px;
}
.down-link:hover{
  color: #e8e8e8;
}
.down-link:active{
  color: #e8e8e8;
}

.down-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.dr-down{
  font-family: Arial, Helvetica, sans-serif ;
}
.fa {
  padding-top: 5px;
  margin-bottom: 10px;
  font-size: 39px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 80%;
  opacity: 0.7;
}


.fa:hover {
  font-size: 20px;
  opacity: 1;
  margin-right: 5px;

  width: 35px;
  height: 35px;

}

.social{
  height: 400px;
  display: flex;
  flex-direction: column  ;
  width: 99%; 
 align-items: end;


}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper1 {
  width: 100%;
  height: 75%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downimg{
  height: 100%;
  width: 100%;
}






